body {
  background-image: url(../images/bg.jpg);
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.form-group {
  margin-top: 0.5rem;
}
.main-table tr td,
.currency,
.col-md-6,
.col-md-4 {
  background-color: ghostwhite;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"] {
  -ms-appearance: textfield;
}
footer a {
  text-decoration: none;
  color: aquamarine;
}
footer p:first-child {
  font-size: 0.9rem;
  color: bisque;
}
footer p {
  margin-bottom: 0;
}
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
}
